.Content img {
    height: 100px;
    width: 100%;

}
.Ava img {
    border-radius: 40px;
    width: 100px;
    height: 100px;
    padding: 20px;
}
.position{
    margin:60px;
    width: 33px;
    height: 20px;

}